body{
  height: 100vh;
  background-color: #4fd1c5;
}

.App {
  height: 100%;
  width: 100%;
  text-align: center;
}

.board{
  height: inherit;
  width: inherit;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.hidden {
  display: none;
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
